{% extends 'editNavbar.html' %}
{% block content %}   
{% load static %}

<form class="mt-5" action="addNewExCompanyRow" method="post">  
  {% csrf_token %}
     <div class="text-center text-secondary h1 p-4 mt-5" >
          الشركة
     </div>
     <input type="text" class="form-control my-3"  placeholder="اسم الشركة" name="companyname" >  
     <input type="text" class="form-control my-3"  placeholder="المسى الوظيفي" name="jobtitle" >  
     <input type="text" class="form-control my-3"  placeholder="التفاصيل" name="details" > 
     <div class="d-grid gap-2"> 
     <button type="submit" value ="Submit" class="btn btn-primary my-3">حفظ</button>
     </div>
</form>

{% endblock content %} 